---
---

{% include head.html %}

<body>

{% include nav.html %}


<!-- Hero-section -->

<section id="hero-section" class="container-flex">

     <div class="positioning-line-cont container-flex">

        <div class="positioning-line">
             <p class="body-big-tight">Sexy bits from all over</p>
        </div>
        <div class="stretcher"></div>

     </div>


  <div id="hero-anim-small" class="anim"></div> <!-- animation -->
  <div id="hero-anim-medium" class="anim"></div> <!-- animation -->
  <div id="hero-anim-large" class="anim"></div> <!-- animation -->

</section>

<!-- end of: Hero-section -->




<!-- Experiment-case -->

   <section class="exp">

      <!-- Experiment lockup -->
      <div class="container container-flex exp-comp hero-img an-mark-props an-mark-3">

         <!-- video -->
         <div class="exp-video">
            <video muted loop autoplay class="video-fill">
               <source src="../resources/video/exp-video-nepal.mp4" type="video/mp4">
            </video>
         </div>

         <!-- exp-text -->
         <div class="exp-text">
            <h2 class="h2">The Three <br>passes trek</h2>
            <p class="body">This project is an exploration of interactive storytelling; illustrating the different stages / experiences of the Three Passes Trek
            </p>
            <hr>
            <div class="exp-icons container-flex">
               <img src="../resources/images/icon-exp-sketch.svg" alt="Sketch">
               <img src="../resources/images/icon-exp-framer.svg" alt="Framer">
            </div>
            <hr>
         </div>

      </div>

      <!-- Experiment lockup -->
      <div class="container container-flex exp-comp">

         <!-- video -->
         <div class="exp-video">
            <video muted loop autoplay class="video-fill">
               <source src="../resources/video/exp-video-fashion.mp4" type="video/mp4">
            </video>
         </div>

         <!-- exp-text -->
         <div class="exp-text">
            <h2 class="h2">Remastered #1</h2>
            <p class="body">This is part of my remastered series; Dribble shots re-imagined and re-built as interactive prototypes in Framer. For this experiment I shifted the focus from music to fashion.
            </p>
            <hr>
            <div class="exp-icons container-flex">
               <img src="../resources/images/icon-exp-sketch.svg" alt="Sketch">
               <img src="../resources/images/icon-exp-framer.svg" alt="Framer">
            </div>
            <hr>
            <div class="exp-credit">
               <h4 class="h4 bold">credit</h4>
               <p class="body"><a href="https://dribbble.com/shots/3993630-W-2" target="_blank">Stugbear | see orginal ></a></p>
            </div>
         </div>

      </div>

      <!-- Experiment lockup -->
      <div class="container container-flex exp-comp">

         <!-- video -->
         <div class="exp-video">
            <video muted loop autoplay class="video-fill">
               <source src="../resources/video/exp-video-seafood.mp4" type="video/mp4">
            </video>
         </div>

         <!-- exp-text -->
         <div class="exp-text">
            <h2 class="h2">Remastered #2</h2>
            <p class="body">This is part of my remastered series; Dribble shots re-imagined and re-built as interactive prototypes in Framer. For this experiment I pushed the design in a more salty direction.
            </p>
            <hr>
            <div class="exp-icons container-flex">
               <img src="../resources/images/icon-exp-sketch.svg" alt="Sketch">
               <img src="../resources/images/icon-exp-framer.svg" alt="Framer">
            </div>
            <hr>
            <div class="exp-credit">
               <h4 class="h4 bold">credit</h4>
               <p class="body"><a href="https://dribbble.com/shots/4050692-Vegan-Recipe-App" target="_blank">Tubik | see orginal ></a></p>
            </div>
         </div>

      </div>


   </section>



<!-- Call to action block -->
   <div class="container">
      <div class="cta-block">
         <h3 class="h3 centered">Like what you see?</h3>
         <a href="../contact/index.html">
         <span class="button-primary h4 bold">get in touch</span>
         </a>

         <div class="next-project-comp container-flex">
            <div>
               <span class="body arrow-left"><a href="../index.html#work">&#60;&#8194;Return to work</a></span>
               <span class="body">&#8195;&#124;&#8195;</span>
               <span class="body semi-bold arrow-right"><a href="../kowry/index.html">Show me more&#8194;&#62;</a></span>
            </div>
         </div>

      </div>
   </div>


{% include footer.html %}
{% include page-end.html %}
<script src="../resources/js/anim-load_highlights.js"></script>

</body>
</html>
