/* Case-study */

   /* region small */
.case-image img {
   width: 100%;
}

.case .case-image-shadow img {
   width: 100%;
   box-shadow: var(--shadow-soft);
   border: 1px solid var(--color-v-light-grey);
}

.case .h2 {
   margin-bottom: var(--space-tiny);
}

.case .case-text {
   margin-top: var(--space-medium);
   margin-bottom: var(--space-petit);
}

.case hr {
    display: block;
    margin: var(--space-small) 0;
    border: 0.5px solid var(--color-light-grey);
}

      /* brand assets */
.case .brand-assets {
   flex-direction: column;
}

.case .brand-assets .h4 {
   margin-bottom: var(--space-std);
}

.case .asset {
   margin: var(--space-medium) 0;
}

.case .brand-assets .asset img {
   max-width: 300px;
}

.case .left .asset:first-child {
   margin-top: 0;
}

.case .right .asset:first-child {
   margin-top: 0;
}

.case .right .asset:last-child {
   margin-bottom: 0;
}

.case .oxy-illus div:nth-child(1n+2) {
   margin-left: var(--space-std);
}

.case .oxy-illus {
   flex-wrap: wrap;
   /* justify-content: center; */
}

.case .oxy-illus img {
   min-width: 230px;
}

.case .case-image.crop {
   padding: 3rem 0;
   -webkit-transform: scale(1.2) translateX(5%);
       -ms-transform: scale(1.2) translateX(5%);
           transform: scale(1.2) translateX(5%);
   margin-bottom: var(--space-small);
}

.case .form-vids {
   justify-content: center;
}

.case .form-vid-cont {
   margin-top: var(--space-petit);
}

.case .form-vid-cont .h4 {
   margin-bottom: var(--space-tiny);
}



   /* form comp */
.case .oxy-form {
   flex-direction: column;
}

.case .oxy-form picture img {
   box-shadow: var(--shadow-soft);
}

.case .oxy-illus .container-flex {
   flex-direction: row;
}
   /* end of: form comp */


   /* region medium */
@media (min-width: 720px) {
   .case .case-text {
      width: 50%;
   }

   .case .case-image.crop {
      padding: 0 0;
      -webkit-transform: initial;
          -ms-transform: initial;
              transform: initial;
   }

   .case .brand-assets {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 var(--indent-1-col);
   }

   .case .brand-assets .asset img {
      width: 350px;
   }

   .case .oxy-illus {
      justify-content: center;
   }

   .case .oxy-illus-title {
      padding: 0 var(--indent-1-col);
   }


   .case .oxy-illus div:nth-child(1n+2) {
      margin-left: var(--space-small);
   }

   .case .oxy-illus {
      padding: var(--space-small) 0;
   }

   .case .oxy-illus img {
      min-width: 240px;
   }

   .case .h2 {
      margin-bottom: var(--space-tiny);
   }

   .case .case-text {
      margin-top: var(--space-large);
      margin-bottom: var(--space-small);
   }

   .case .case-image.crop {
      -webkit-transform: scale(1) translateX(0%);
          -ms-transform: scale(1) translateX(0%);
              transform: scale(1) translateX(0%);
   }


   .case .left .asset:last-child {
      margin-bottom: 0;
   }

   .case .right .asset:last-child {
      margin-bottom: 0;
   }

   /* form comp */
   .case .oxy-form {
      flex-direction: row;
      justify-content: center;
   }

   .case .form-vids {
      flex-direction: column;
   }

   .case .form-vid-cont {
      margin-top: 11%;
      margin-left: 1.5rem;
   }

   .case .oxy-form picture img {
      box-shadow: initial;
   }
}

   /* region large */
@media (min-width: 1100px) {
   .case .asset img {
      min-width: 400px;
   }

   .case .brand-assets.sinque {
      /* for Sinque: extra padding on the right side because the images over-run their container */
      padding: 0 16rem 0 var(--indent-3-col);
   }

   .case .brand-assets.oxy {
      /* for Oxy: extra padding on the right side because the images over-run their container */
      padding: 0 14rem 0 var(--indent-2-col);
   }

   .case .brand-assets.elk-assets {
      /* padding-right reset for elkmont assets */
      padding-right: var(--indent-1-col);
   }

   .case .oxy-illus-title {
      padding: 0 var(--indent-2-col);
   }

   .case .oxy-illus div:nth-child(1n+2) {
      margin-left: var(--space-large);
   }

   .case .oxy-illus {
      padding: var(--space-small) 0;
   }

   .case .oxy-illus img {
      min-width: 310px;
   }

   .case .h2 {
      margin-bottom: var(--space-std);
   }

   .case .case-text {
      margin-top: var(--space-larger);
      margin-bottom: var(--space-medium);
   }

   .case hr {
       margin: var(--space-medium) 0;
   }

   /* form comp */
   .case .form-vid-cont {
      margin-top: 9.6%;
   }
}




/* Case-extras-elkmont */
   /* region small */
.case .image-block .image-row {
   justify-content: space-between;
   flex-wrap: wrap;
   }

.case .image-block .image-row img {
   flex: 1 1 auto;
   object-fit: cover;
   padding: 1px;
   margin-bottom: var(--space-std);
   width: 100%;
   min-height: 300px;
   max-height: 300px;
}

.case .image-block img.collapse {
   display: none;
}

.case .guideline-img {
   -webkit-transform: scale(1.015);
       -ms-transform: scale(1.015);
           transform: scale(1.015);
}

.case .elk-assets .elk-mark {
   padding: 0 var(--space-small);
   flex-direction: column;
}

.case .vd-mark {
   padding: 0 0 !important;
}

.case .elk-assets .h4 {
   margin-bottom: var(--space-small);
}

.vd-mark .h4:first-child {
   padding-left: var(--space-small);
}

.case .elk-assets .elk-mark .arrow {
   padding: 0 35%;
}

.case .elk-assets .elk-mark:first-child {
   margin-bottom: var(--space-medium);
}

.case .elk-mark img {
   max-height: 15rem;
}

.case.details img {
   margin-bottom: var(--space-std);
   min-height: 300px;
   object-fit: cover;
}

.case .case-image.hero img {
   min-height: 300px;
   object-fit: cover;
}



/* region proxy-medium */
@media (min-width: 500px) {
   .case .image-block .image-row {
      margin-left: -1rem;
   }

   .case .image-block .image-row img {
      max-height: 600px;
      margin-left: var(--space-std);
      width: initial;
   }
}

/* region medium */
@media (min-width: 720px) {
   .case .image-block img.collapse {
      display: initial;
   }

   .case .elk-assets .elk-mark {
      width: 50%;
      align-items: center;
      flex-direction: column;
   }

   .brand-assets .sheild {
      margin-top: 1rem;
   }

   .case .elk-assets .elk-mark .arrow {
      padding: initial;
   }

   .case .elk-assets .elk-mark {
      padding: 0 var(--indent-1-col);
   }

   .case .elk-assets .vd-mark:first-child {
      margin-bottom: 0;
   }

   .case .elk-mark img {
      height: 10rem;
   }

   .case .elk-mark:last-child img {
      height: 8rem;
   }

   .case .elk-assets .h4 {
      margin-bottom: var(--space-medium);
   }

   .case .vd-assets .h4 {
      margin-bottom: var(--space-tiny) !important;
   }

   .case .elk-assets {
      margin-top: var(--space-large);
   }
   .case.details img {
      margin-bottom: var(--space-small);
      min-height: initial;
      object-fit: initial;
   }

   .case .case-image.hero img {
      min-height: initial;
      object-fit: initial;
   }
}

/* region large */
@media (min-width: 1100px) {
   .case .elk-mark img {
      height: 14rem;
   }

   .brand-assets .sheild {
      margin-top: 1.5rem;
   }

   .case .elk-mark:last-child img {
      height: 10rem;
   }

   .case .elk-assets .h4 {
      margin-bottom: var(--space-large);
   }

   .case .elk-assets {
      margin-top: var(--space-large);
   }

   .case.details img {
      margin-bottom: var(--space-large);
   }
   .case .vd-mark {
      padding-left: 5rem !important;
   }
}


/* Case-DV */
   /* region small */
.center {
   justify-content: center;
}



.case.dv .vid-scale {
   margin-bottom: var(--space-medium);
   -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
           transform: scale(1.1);
}

.eyes-text.case-text {
   margin-top: 0;
}

.eyes-cont {
   align-items: flex-start;
   margin-top: var(--space-large);
   flex-direction: column;
}

.eyes {
   width: 60%;
   padding-bottom: var(--space-small);
}

.eyes img {
   width: 100%;
   max-height: 160px;
}

.case-vid {
   margin-bottom: var(--space-small);
}

.case-vid video {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: scale(1.05);
       -ms-transform: scale(1.05);
           transform: scale(1.05);
}

   /* region medium */
@media (min-width: 720px) {
   .eyes-cont {
      flex-direction: row;
      align-items: center;
   }

   .eyes-text.case-text {
      margin-bottom: 0;
   }

   .eyes {
      width: 50%;
      padding: 0 var(--space-small);
   }

   .case-vid {
      padding: 1rem;
      padding-top: 0;
      margin-bottom: var(--space-medium);
   }
}

   /* region large */
@media (min-width: 1100px) {

   .case-vid-wrapper {
      width: 100%; /* this is an unecessary declaration but its nice semantically to see theres a wrapper at work */
   }

   .case-vid {
      padding: 4rem;
      padding-top: 0;
      max-width: 1800px;
      position: relative;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      left: 50%;
      margin-bottom: 0;
   }
}


/* Sinque page */
   /* region small */

.brand-block {
   padding: var(--space-small) 0;
}

.brand-block img {
   width: 90%;
   max-width: 900px;
   position: relative;
   -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
           transform: translateX(-50%);
   left: 50%;
}

.image-6040 img {
   width: 100%;
}

.text-6040 {
   margin-bottom: var(--space-petit);
}

.comp-6040 {
   flex-direction: column;
   margin-top: var(--space-medium);
}

   /* region medium */
@media (min-width: 720px) {
   .comp-6040 {
      margin-top: var(--space-large);
   }
}

/* custom breakpoint (comp-6040) */
@media (min-width: 900px) {
   .comp-6040 {
      flex-direction: row;
      align-items: center;
   }
   .text-6040 {
      width: 40%;
      padding: var(--space-small);
   }
   .image-6040 {
      width: 60%;
   }
}

   /* region large */
@media (min-width: 1100px) {
   .comp-6040 {
      margin-top: var(--space-larger);
   }
}



/* ///////////////////////////////////////////////////// */

/* Color-block comp re-factored code */

/* ///////////////////////////////////////////////////// */

/* region small */

.color-block-comp {
   position: relative;
}
         /* Set block to be under content */
.color-block-comp .color-block {
   z-index: -1;
   position: absolute;
   top: 27.5%;
   background-color: #fef200;
   height: 45%;
   width: 100%;
}

.color-block-comp .comp-content {
   max-width: 1200px;
   position: relative;
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
   left: 50%;
}

.comp-text.region-ml {
   display: none;
}

.comp-content video {
height: 600px;
}

.comp-text.region-ml {
display: none;
}

.color-block-comp {
margin-bottom: 0;
}


/* region medium */
@media (min-width: 720px) {
   .case-text.region-s {
      width: 100%;
   }
}

/* custom breakpoint medium + a bit */
@media (min-width: 900px) {
   .comp-content video {
      height: 700px;
   }

   .comp-content .comp-text.region-ml {
      display: initial;
      margin-top: 16rem;
      padding-left: var(--space-small);
      padding-right: var(--space-medium);
   }

   .case-text.region-s {
      display: none;
   }

   .color-block-comp .h2 {
      margin-bottom: var(--space-tiny);
   }

   .comp-content {
      padding: 0 var(--space-small);
   }

   .color-block-comp {
      margin-top: var(--space-large);
      margin-bottom: 0;
   }
}

/* region large */
@media (min-width: 1100px) {
   .comp-content video {
      height: 872px;
   }

   .comp-content .comp-text.region-ml {
      margin-top: 21rem;
      padding-left: var(--space-larger);
      padding-right: 0;
   }

   .color-block-comp {
      margin-top: var(--space-larger);
      margin-bottom: calc(var(--space-medium)*-1); /* allowing for xtra space from off setting weirdly only needs it at larger sizes */
   }

   .comp-content {
      padding: 0 var(--space-medium);
   }
}

/* Over-rides */
   /* first block colours */
.color-block.sinque {
background-color: #0C0755;
}

.comp-content.sinque .comp-text {
color: var(--color-white);
}

   /* second block colours */
.color-block.sinque2 {
background-color: #FFDA00;
}

.comp-content .comp-text.sinque2 {
color: var(--color-black);
}

.case.dv .color-block-comp img {
   max-width: 75vw;
}

@media (min-width: 900px) {
   .color-block-comp.oxy {
      margin-top: 0;
      margin-bottom: var(--space-small);
   }
}

@media (min-width: 1100px) {
   .comp-content.sinque2 .comp-text.region-ml {
      margin-top: 20rem;
   }

   .color-block-comp.sinque2 {
      margin-bottom: var(--space-medium);
   }
}

/* blue print */
.dv-blue img {
   position: relative;
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
   left: 50%;
}

.color-block.dv-blue {
   height: 90%;
   top: 5%;
   background-color: #FFFED9;
}
   /*  over riding rule created for standard CBCs*/
.color-block-comp.dv-blue {
   margin-top: 0;
}

@media (min-width: 1100px) {
   /* blue print */
   .dv-blue img {
      max-width: 1300px !important;
   }
      /* correcting vertical offset */
   .color-block-comp.dv-blue {
      margin-top: -2rem;
   }

   .color-block-comp.dv-blue {
      margin-bottom: 0;
   }
}
/* end of blue print */



/* dv-mobile */
.color-block.dv-mobile {
   background-color: #FFE400;
   height: 45% !important;
   top: 19.5%;
}

/* off setting color-block dv-mobile extra space */
.color-block-comp.dv-mobile {
   margin: -2rem 0 -2rem 0; /* = var(--space-small) & var(--space-small) */
}

@media (min-width: 720px) {
   /* off setting color-block dv-mobile extra space */
   .color-block-comp.dv-mobile {
      margin: -4.5rem 0 -4.5rem 0; /* = var(--space-large) & var(--space-large) */
   }
   .case.dv .color-block-comp img {
      max-width: 65vw;
   }
}

@media (min-width: 1100px) {
   .case.dv .color-block-comp img {
      max-width: 1150px;
   }

      /* off setting color-block dv-mobile extra space */
   .color-block-comp.dv-mobile {
      margin: -4.5rem 0 -7rem 0; /* = var(--space-large) & var(--space-larger) */
   }
}


/* ///////////////////////////////////////////////////// */

/* end of: Color-block comp re-factored code */

/* ///////////////////////////////////////////////////// */





















   /* do not move me! - I must be last — also note important must be used at the end of the declaration */
.no-space {
   margin-bottom: 0 !important;
}
