/* Case section */


/* region small */

/* structure */
.case-image img {
   width: 100%;
}

   /* connected space */
.connected-spacer {
   height: var(--space-60);
}

   /* connected space tight*/
.connected-spacer-tight {
   height: var(--space-32);
}

   /* separated space */
.separated-spacer {
   height: var(--space-100);
}


/* sect-1  */
#case-study-section .container.sect-1 {
   padding-top: var(--space-100);
}

/* type */
#case-study-section .label, .h4-sans {
margin-bottom: 8px;
}

/* end of: region small */




/* region medium */
@media (min-width: 720px) {

      /* connected space */
   .connected-spacer {
      height: var(--space-80);
   }

      /* connected space tight*/
   .connected-spacer-tight {
      height: var(--space-52);
   }

      /* separated space */
   .separated-spacer {
      height: var(--space-120);
   }


   /* sect-1  */
   #case-study-section .container.sect-1 {
      padding-top: var(--space-120);
   }


   /* type */
   #case-study-section .h4-sans {
      margin-bottom: 16px;
   }

   #case-study-section .content-text {
      max-width: 592px;
   }
}




/* region large */
@media (min-width: 1100px) {

      /* connected space */
   .connected-spacer {
      height: var(--space-120);
   }

   .override.connected-spacer {
      height: 80px;
   }

      /* separated space */
   .separated-spacer {
      height: var(--space-200);
   }

   .override.separated-spacer {
      height: 160px;
   }

   /* sect-1  */
   #case-study-section .container.sect-1 {
      padding-top: var(--space-200);
   }

   /* type */
   #case-study-section .content-text {
      max-width: 620px;
   }

   #case-study-section .h4-sans {
      margin-bottom: 16px;
   }
}


/* region oversize */
@media (min-width: 1920px) {

      /* connected space */
   .connected-spacer {
      height: var(--space-160);
   }

      /* separated space */
   .separated-spacer {
      height: var(--space-240);
   }

   /* sect-1  */
   #case-study-section .container.sect-1 {
      padding-top: var(--space-240);
   }

   /* type */
   #case-study-section .content-text {
      max-width: 720px
   }

   #case-study-section .h4-sans {
      margin-bottom: 16px;
   }
}
















/* // */
