/* Highlights section */

   /* region small */

   /* structure */
.case-image img {
   width: 100%;
}

#case-study-section .container:first-of-type {
   margin-top: var(--space-100);
}

#case-study-section .content-text {
   margin-top: var(--space-60);
   margin-bottom: var(--space-60);
}

   /* type */
#case-study-section .label, .h4-sans {
   margin-bottom: 8px;
}

   /* end of: region small */




@media (min-width: 720px) {

   /* region medium */

      /* structure */

   #case-study-section .container:first-of-type {
      margin-top: var(--space-120);
   }

   #case-study-section .content-text {
      margin-top: var(--space-60);
      margin-bottom: var(--space-100);
   }

      /* type */
   #case-study-section .content-text {
      max-width: 592px;
   }

   #case-study-section .h4-sans {
      margin-bottom: 16px;
   }
}


@media (min-width: 1100px) {

      /* region large */

      /* structure */

   #case-study-section .container:first-of-type {
      margin-top: var(--space-200);
   }

   #case-study-section .content-text {
      margin-top: var(--space-100);
      margin-bottom: var(--space-120);
   }

      /* type */
   #case-study-section .content-text {
      max-width: 620px;
   }

   #case-study-section .h4-sans {
      margin-bottom: 16px;
   }
}
