/* Hero-section */

   /* region small */
#hero-section {
  height: calc(100vh - 36px);
  flex-direction: column;
  justify-content: space-between;
}

#hero-section .container-flex {
  width: 100%;
}

#hero-section p {
  width: 274px;
  padding-top: var(--space-80);
}

#hero-anim-small, #hero-anim-medium, #hero-anim-large {
  width: 100%;
}


   /* region medium */
@media (min-width: 720px) {
  #hero-section {
    height: calc(100vh - 54px);
    flex-direction: column;
    justify-content: space-between;
  }

  #hero-section p {
    width: 420px;
    padding-top: var(--space-100);
    padding-left: var(--indent-1-col);
  }
}


   /* region large */
@media (min-width: 1100px) {
  #hero-section {
    height: calc(100vh - 66px);
    flex-direction: column;
    justify-content: space-between;
  }

  #hero-section p {
    width: 420px;
    padding-top: 86px; /* random in order to match perfectly*/
    padding-left: var(--indent-2-col);
  }

}
/* end of: Hero-section */
