/* Hero-section */

   /* region small */
#hero-section {
  height: calc(100vh - 36px);
  flex-direction: column;
  justify-content: space-between;
}


#hero-section p.positioning-line {
  width: 80%;
  padding-top: var(--space-80);
}

#hero-section .stretcher {
  width: 20%;
}




#hero-anim-small, #hero-anim-medium, #hero-anim-large {
  width: 100%;
}


   /* region medium */
@media (min-width: 720px) {
  #hero-section {
    height: calc(100vh - 54px);
  }

  #hero-section p.positioning-line {
    width: 60%;
    padding-top: var(--space-100);
    padding-left: var(--gap);
  }

  #hero-section .stretcher {
    width: 40%;
  }


}


   /* region large */
@media (min-width: 1100px) {
  #hero-section {
    height: calc(100vh - 66px);
  }

  #hero-section p.positioning-line {
    width: 45%;
    padding-top: 86px; /* random in order to match perfectly*/
  }

  /* #hero-section .stretcher {
    width: 55%;
  } */

}
/* end of: Hero-section */
