/* Highlights section */

   /* region small */

/* structure */
#highlights {
  background-color: var(--color-black);
  color: var(--color-white);
}

#highlights a {
  color: var(--color-white);
}

#highlights .content-title {
  margin-top: 40px;
  justify-content: space-between;
}

#highlights .content-title img {
  margin-top: 5px;
}

/* type */
#highlights a {
  color: var(--color-white);
}

#highlights h4 {
  margin-bottom: 16px;
}

.highlight-block {
  margin-bottom: var(--space-80);
}
   /* end of: region small */



@media (min-width: 720px) {

   /* region medium */

   #highlights .content-title img {
     height: 50px;
   }

   #highlights .content-title {
     margin-top: var(--space-60);
     justify-content: space-between;
   }

   #highlights p {
      width: 80%;
   }

   #highlights .credit {
     margin-top: 16px;
     height: 24px;
   }
   #highlights .highlight-block {
      margin-bottom: var(--space-120);
   }

}


@media (min-width: 1100px) {

      /* region large */

   #highlights p {
      width: 67%;
   }

   #highlights .highlight-block {
      max-width: 1096px;
      margin-bottom: var(--space-200);
   }
}




















//
