/* Intro-section */

   /* region small */
#intro-section {
  padding-top: var(--space-60);
  padding-bottom: var(--space-80);
  background-color: var(--color-black);
  color: var(--color-white);
}

#intro-section .content-left {
  display: none;
}


   /* region medium */
@media (min-width: 720px) {
  #intro-section {
    padding-top: var(--space-100);
    padding-bottom: var(--space-80);
  }

  #intro-section .content-left {
    display: initial;
    width: 25%;
    padding-top: 24px;
  }
  #intro-section .content-right {
    width: 75%;
    padding: 0 32px 0 0px; /*right = --indent-1-col-start*/
}


   /* region large */
@media (min-width: 1100px) {
  #intro-section {
    padding-top: var(--space-100);
    padding-bottom: var(--space-100);
  }

  #intro-section .content-left {
    display: initial;
    width: 40%;
    padding: 24px 0 0 0;
    /* margin–left: 100px; */
  }
  #intro-section .content-right {
    width: 60%;
  }
}
