/* Overrides Digital currencies */

   /* all rules require .dig */


/* region small */


   /* sect 2 — image overlap effect */
#case-study-section.dig.second {
   background-image: url('../../../../resources/images/dig-white-top.svg'), url('../../../../resources/images/dig-white-bottom.svg');
   background-position: top, bottom;
   background-size: 100%;
   background-repeat: no-repeat;
}

/* preparing text to work without other elements in container */
#case-study-section.dig.third .content-text {
   max-width: initial;

}

#case-study-section.dig.third .content-text p {
   max-width: 592px;
   padding-right: 30px;
}

/* convo image */
#case-study-section.dig.third .case-image {
   padding-left: 10%;
}

   /* sect 5 — image overlap effect */
   #case-study-section.dig.fifth {
      background-image: url('../../../../resources/images/dig-white-top-fifth.svg');
      background-position: top;
      background-size: 100%;
      background-color: #FEF200;
      background-repeat: no-repeat;
   }

/* region medium */
@media (min-width: 720px) {
   #case-study-section.dig.third .content-text p {
      max-width: 592px;
   }

}



/* region large */
@media (min-width: 1100px) {

   /* removing shadow from right side */
   #case-study-section.dig.third .case-image.screen-shadow {
        filter: drop-shadow(-30px 20px 30px #EEE);
   }

}




/* region oversize */
@media (min-width: 1920px) {


}
