/* Overrides RedBull */

   /* all rules require .red */


/* region small */

/* sect-1  */
#case-study-section.luc.first .container-flex {
   flex-direction: column;
}

#case-study-section.luc.first .icon-housing {
   flex-direction: row;
   justify-content: space-between;
   margin-top: var(--space-32);
}

#case-study-section.luc.first .icon-housing img {
   height: 69px;
   margin-bottom: 8px;
}

#case-study-section.luc.first .h2 {
   margin-bottom: 8px;
}



/* sect-2  */
#case-study-section.luc.second {
   background-image: url('../../../../resources/images/luc-white-top-pdw_s.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}

/*region ml version
#case-study-section.luc.second {
   background-image: url('../../../../resources/images/luc-white-top-pdw_ml.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}
*/


/* image overlap effect */
#case-study-section.red.third, #case-study-section.red.fourth {
   background-image: url('../../../../resources/images/red-white-top.svg'), url('../../../../resources/images/red-white-bottom.svg');
   background-position: top, bottom;
   background-size: 100%;
   background-repeat: no-repeat;
}

#case-study-section.red.fifth {
   background-image: url('../../../../resources/images/red-white-top.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}


/* spacing between sections */
#case-study-section.red.third, #case-study-section.red.fourth, #case-study-section.red.fifth {
   margin-top: var(--space-160);
}

#case-study-section.red.fourth .content-text.suck-upwards {
   margin-top: -16px;
}

#case-study-section.red .sect-5 {
   flex-direction: column;
}



/* region medium */
@media (min-width: 720px) {

   /* removing max-width property in order to make the element 100% and position the icon (this breaks normal behaviour) */
   #case-study-section.red .content-text {
      max-width: initial;
      width: 100%;
   }
   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 592px;
   }

   #case-study-section.red .content-text img {
      height: 75px;
   }

   #case-study-section.red .sect-5 .content-text img {
      height: 60px;
   }

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -40px;
   }

   #case-study-section.red .sect-5 {
      flex-direction: row;
   }

   #case-study-section.red .sect-5 .content-text:nth-child(1n+3) {
      margin-left: 5%;
   }

}



/* region large */
@media (min-width: 1100px) {

   /* spacing between sections */
   #case-study-section.red.third, #case-study-section.red.fourth, #case-study-section.red.fifth {
      margin-top: var(--space-240);
   }

   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 620px;
   }

   #case-study-section.red .content-text img {
      height: 100px;
   }

   #case-study-section.red .sect-5 .content-text img {
      height: 70px;
   }

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -100px;
   }
}




/* region oversize */
@media (min-width: 1920px) {

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -160px;
   }

   #case-study-section.red .sect-5 .content-text img {
      height: 90px;
   }

   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 720px;
   }
}
