/* Overrides RedBull */

   /* all rules require .red */


/* region small */

/* sect-2  */
#case-study-section.red.second {
   background-image: url('../../../../resources/images/red-white-top.svg'), url('../../../../resources/images/red-white-bottom.svg');
   background-position: top, bottom;
   background-size: 100%;
   background-repeat: no-repeat;
}


#case-study-section.red .container-flex {
   justify-content: space-between;
   align-items: flex-start;
}


/* image overlap effect */
#case-study-section.red.third, #case-study-section.red.fourth {
   background-image: url('../../../../resources/images/red-white-top.svg'), url('../../../../resources/images/red-white-bottom.svg');
   background-position: top, bottom;
   background-size: 100%;
   background-repeat: no-repeat;
}

#case-study-section.red.fifth {
   background-image: url('../../../../resources/images/red-white-top.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}


/* spacing between sections */
#case-study-section.red.third, #case-study-section.red.fourth, #case-study-section.red.fifth {
   margin-top: var(--space-160);
}

#case-study-section.red.fourth .content-text.suck-upwards {
   margin-top: -16px;
}


/* region medium */
@media (min-width: 720px) {

   /* removing max-width property in order to make the element 100% and position the icon (this breaks normal behaviour) */
   #case-study-section.red .content-text {
      max-width: initial;
      width: 100%;
   }
   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 592px;
   }

   #case-study-section.red .content-text img {
      height: 75px;
   }

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -40px;
   }

}



/* region large */
@media (min-width: 1100px) {

   /* spacing between sections */
   #case-study-section.red.third, #case-study-section.red.fourth, #case-study-section.red.fifth {
      margin-top: var(--space-240);
   }

   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 620px;
   }

   #case-study-section.red .content-text img {
      height: 100px;
   }

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -100px;
   }
}




/* region oversize */
@media (min-width: 1920px) {

   /* correcting experience text in sect 4 */
   #case-study-section.red.fourth .content-text.suck-upwards {
      margin-top: -160px;
   }

   /* recreating normal behaviour on .content-text */
   #case-study-section.red .content-text p {
      max-width: 720px;
   }
}
