/* Overrides Linksys */

   /* all rules require .lin */


/* region small */

/* sect-1:  Explaining the concept */

#case-study-section.lin.first .container-flex {
   /* border: 1px solid yellow; */
   flex-direction: column;
}

#case-study-section.lin.first .container-flex .content-text {
   /* color: yellow; */
   margin-bottom: 40px;
}

#case-study-section.lin.second {
   background-image: url('../../../../resources/images/lin-white-top-ux_s.svg'), url('../../../../resources/images/lin-white-bottom-ux_s.svg');
   background-position: top, bottom;
   background-size: 100%;
   background-repeat: no-repeat;
}


#case-study-section.lin.second .h2 {
margin-bottom: 24px;
}





/* region medium */

/* sect-2  */
@media (min-width: 720px) {
   #case-study-section.lin.first .container-flex {
      flex-direction: row;
   }

   #case-study-section.lin.first .container-flex img {
      min-width: 250px;
      margin-left: 60px;
   }

   #case-study-section.lin.first .container-flex .content-text {
      /* color: yellow; */
      margin-bottom: 0;
   }


   #case-study-section.lin.second {
      background-image: url('../../../../resources/images/lin-white-top-ux_m.svg'), url('../../../../resources/images/lin-white-bottom-ux_m.svg');
      background-position: top, bottom;
      background-size: 100%;
      background-repeat: no-repeat;
   }

   #case-study-section.lin.second img:first-of-type {
      padding-top: 40px;
   }
}



/* region large */

@media (min-width: 1100px) {
   #case-study-section.lin.first .container-flex img {
      min-width: 300px;
      margin-left: 100px;
   }
}



/* region oversize */
@media (min-width: 1920px) {

}






/*  */
