/* Overrides Linksys */

   /* all rules require .lin */


/* region small */

/* sect-1:  Explaining the concept */

#case-study-section.lin.first .container-flex {
   /* border: 1px solid yellow; */
   flex-direction: column;
}

#case-study-section.lin.first .h2 {
   margin-bottom: 8px;
}

#case-study-section.lin.first .container-flex .content-text {
   /* color: yellow; */
   margin-bottom: 40px;
}

#case-study-section.lin.second img:first-of-type {
   padding-top: 20px;
}


#case-study-section.lin.second {
   background-image: url('../../../../resources/images/lin-white-top-ux_s.svg'), url('../../../../resources/images/lin-white-bottom-ux_s.svg');
    background-position: 0 -2px, bottom;  /*the first listed property contains co-ordinates 0 from the left and -2 from the top*/
   background-size: 100%;
   background-repeat: no-repeat;
}


#case-study-section.lin.second .h2 {
margin-bottom: 24px;
}

#case-study-section.lin.second img:first-of-type {
   padding-top: 40px;
}

#case-study-section.lin.third .content-text:first-of-type {
   margin-bottom: 40px;
}

/* laptop component */
.laptop-wrapper.lin {
   margin-top: -2px;
   background-image: url('../../../../resources/images/lin-blue-top-laptop_l.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}

.laptop-wrapper.lin .content-video {
   padding: 10% 10.8% 0 10.8%;
}

.laptop-wrapper.lin .case-image {
   margin-top: -2px;
   margin-right: 0.2%;
   margin-left: -0.1%;
}





/* region medium */

/* sect-2  */
@media (min-width: 720px) {
   #case-study-section.lin.first .container-flex {
      flex-direction: row;
      justify-content: space-between;
   }


   #case-study-section.lin.first .container-flex .content-text {
      margin-right: 60px;
      width: 50%;
      margin-bottom: 0;
   }

   #case-study-section.lin.first .container-flex .case-image {
      width: 50%;
      max-width: 600px;
   }


   #case-study-section.lin.second {
      background-image: url('../../../../resources/images/lin-white-top-ux_m.svg'), url('../../../../resources/images/lin-white-bottom-ux_m.svg');
      background-position: top, bottom;
      background-size: 100%;
      background-repeat: no-repeat;
   }

   #case-study-section.lin.second img:first-of-type {
      padding-top: 80px;
   }

   /* laptop component */
   .laptop-wrapper.lin {
      margin-top: -2px;
      background-image: url('../../../../resources/images/lin-blue-top-laptop_m.svg');
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
   }
}



/* region large */

@media (min-width: 1100px) {

   #case-study-section.lin.first .h2 {
      margin-bottom: 24px;
   }

   #case-study-section.lin.first .container-flex .content-text {
      margin-right: 80px;
      width: 45%;
   }



   .laptop-wrapper.lin {
      margin-top: -2px;
      background-image: url('../../../../resources/images/lin-blue-top-laptop_l.svg');
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
   }

   .laptop-wrapper .container-full {
      max-width: 1820px;
      padding: 0 80px;
   }

   #case-study-section.lin.third .content-video.ipad {
      max-width: 1100px;
      margin: 0 auto;
   }
}



/* region oversize */
@media (min-width: 1920px) {
   .laptop-wrapper .container-full {
      padding: 0 10.75rem;  /* reset back to default values of container-full */
   }

   #case-study-section.lin.first .container-flex .content-text {
      /* color: yellow; */
      width: 40%;
   }

   #case-study-section.lin.third .content-video.ipad {
      max-width: 1300px;
      margin: 0 auto;
   }
}






/*  */
