/* Overrides Lucid motors */

   /* all rules require .luc */


/* region small */

/* sect-1  */
#case-study-section.luc.first .container-flex {
   flex-direction: column;
}

#case-study-section.luc .icon-housing {
   flex-direction: row;
   justify-content: space-between;
   margin-top: var(--space-32);
}

#case-study-section.luc .icon-housing img {
   height: 69px;
   margin-bottom: 8px;
}

#case-study-section.luc.first .h2 {
   margin-bottom: 8px;
}



/* sect-2  */
#case-study-section.luc.second {
   background-image: url('../../../../resources/images/luc-white-top-pdw_s.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}



/* sect: full bleed  */
.luc .cover-img img {
   height: 450px;
   width: 100%;
   object-fit: cover;
   object-position: center;
}



/* sect-3  */
#case-study-section.luc.second .container-flex {
   flex-direction: column;
}

#case-study-section.luc.second .h2 {
   margin-bottom: 8px;
}



/* sect-4  */
#case-study-section.luc.fourth {
   background-image: url('../../../../resources/images/luc-white-top-svm_ml.svg');
   background-position: top;
   background-size: 100%;
   background-repeat: no-repeat;
}




/* region medium */

/* sect-2  */
@media (min-width: 720px) {
   #case-study-section.luc.second {
      background-image: url('../../../../resources/images/luc-white-top-pdw_ml.svg');
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
   }
}


































/*  */
