/* Showcase-section */

   /* region small */
.showcase-section .container-flex {
   flex-direction: column;
   padding-top: var(--space-medium);
   background-color: var(--color-black);
}

.card-header {
  background-color: #FFF;
  padding: 32px 24px 28px 24px;
}

.case-card img {
  width: 100%;
  height: 100%;
  max-height: 375px;
  object-fit: cover;
}

.case-card span {
  margin-bottom: 4px;
}

.case-card h3 {
  margin-bottom: var(--space-micro);
}


   /* region medium */
@media (min-width: 720px) {
   .showcase-section .container-flex {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: var(--space-medium);
   }

      /* this applies to all and is reflected without interference */
   .showcase-section .case-card {
      width: 46%;
      margin-bottom: var(--space-index-m);
   }

      /* setting margin on every second item */
   .showcase-section .case-card:nth-child(2n + 0) {
      margin-left: 8%;
   }

      /* Every second item reverse stagger starting with the third item */
   .showcase-section .case-card:nth-child(2n + 3) {
      margin-top: calc(var(--space-index-m) * -1);
   }

      /* second item stagger */
   .showcase-section .case-card:nth-child(0n + 2) {
      margin-top: var(--space-index-m);
   }
}

/* region large */
@media (min-width: 1100px) {
   .showcase-section .container-flex {
      margin-top: var(--space-small);
      padding: 0 var(--indent-3-col);
   }

   .showcase-section .h2 {
      margin-bottom: var(--space-std);
   }

   /* this applies to all and is reflected without interference */
   .showcase-section .case-card {
      width: 46%;
      margin-bottom: var(--space-index-l);
   }

      /* setting margin on every second item */
   .showcase-section .case-card:nth-child(2n + 0) {
      margin-left: 8%;
   }

      /* 3rd item reverse stagger */
   .showcase-section .case-card:nth-child(0n + 3) {
      margin-top: calc(var(--space-index-l) * -1);
   }

      /* second item stagger */
   .showcase-section .case-card:nth-child(0n + 2) {
      margin-top: var(--space-index-l);
   }
}
/* end of: Showcase-section */
