---
---

{% include head.html %}

<body>

{% include nav.html %}


<!-- Hero-section -->

<section id="hero-section" class="container-flex">

     <div class="positioning-line-cont container-flex">

        <div class="positioning-line">
             <p class="body-big-tight">Creating experiences at the intersection of product and brand</p>
        </div>
        <div class="stretcher"></div>

     </div>


  <div id="hero-anim-small" class="anim"></div> <!-- animation -->
  <div id="hero-anim-medium" class="anim"></div> <!-- animation -->
  <div id="hero-anim-large" class="anim"></div> <!-- animation -->

</section>

<!-- end of: Hero-section -->



<!-- Intro-section -->

<section id="intro-section">

  <div class="container container-flex">

    <div class="content-left">
      <span class="label">introduction</span>
    </div>
    <div class="content-right">
      <p class="body-big-loose">
        Hi there, my name is Josh I’m a digital designer working at the intersection of product and brand. My thinking is conceptually led and digitally activated. In other words, creating experiences that move people.
      </p>
    </div>

  </div>

</section>

<!-- end of: Intro-section -->

<!-- Showcase-section -->

   <section id="showcase-section">

      <div class="container">
         <span class="label white">recent work</span>

         <div class="container-flex">

              <!-- card-1–Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="deutschlandfunk/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1008w,
                   resources/images/deu-card.png 504w"
                   sizes="(min-width: 504px) 504px, 100vw"
                   alt="project image"/>
                </a>
              </div>

              <!-- card-2–Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="deutschlandfunk/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1008w,
                   resources/images/deu-card.png 504w"
                   sizes="(min-width: 504px) 504px, 100vw"
                   alt="project image"/>
                </a>
              </div>

              <!-- card–3-Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="deutschlandfunk/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1008w,
                   resources/images/deu-card.png 504w"
                   sizes="(min-width: 504px) 504px, 100vw"
                   alt="project image"/>
                </a>
              </div>

              <!-- card–4-Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="project/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1038w,
                   resources/images/deu-card.png 519w"
                   sizes="(min-width: 519px) 519px, 100vw"
                   alt="project image"/>
                </a>
              </div>

              <!-- card–5-Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="project/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1038w,
                   resources/images/deu-card.png 519w"
                   sizes="(min-width: 519px) 519px, 100vw"
                   alt="project image"/>
                </a>
              </div>

              <!-- card–6-Deutschlandfunk -->
              <div class="case-card an-mark-1 an-mark-props">
                <div class="card-header">
                  <span class="eyebrow">Editorial design</span>
                  <h2 class="h2">Deutschlandfunk</h2>
                  <p class="body-tight">Combining three stations into one easy to use platform</p>
                </div>
                <a href="project/index.html">
                   <img src="resources/images/deu-card.png"
                   srcset="resources/images/deu-card@2x.png 1038w,
                   resources/images/deu-card.png 519w"
                   sizes="(min-width: 519px) 519px, 100vw"
                   alt="project image"/>
                </a>
              </div>”

        </div>

      </div>
   </section>

   <!-- end of: Showcase-section -->



{% include footer.html %}
{% include page-end.html %}
<script src="../resources/js/anim-load_hero.js"></script>


</body>
</html>
