---
---

{% include head.html %}

<body>


{% include app-header.html %}


<!-- Hero-section -->

<section class="hero-section container-flex">

  <div class="container container-flex">
        <p class="body-big-tight">Creating experiences at the intersection of product and brand</p>
  </div>

  <div id="hero-anim-small" class="anim"></div> <!-- animation -->
  <div id="hero-anim-medium" class="anim"></div> <!-- animation -->
  <div id="hero-anim-large" class="anim"></div> <!-- animation -->

</section>



<!-- Showcase-section -->
   <section class="showcase-section">
      <div class="container container-flex">

         <div class="case-tile oxy-tile an-mark-1 an-mark-props">
            <a href="kowry/index.html">
               <img src="resources/images/oxy-tile@1x.jpg"
                     srcset="resources/images/oxy-tile@2x.jpg 1038w,
                            resources/images/oxy-tile@1x.jpg 519w"
                     sizes="(min-width: 519px) 519px, 100vw"
                     alt="project image"/>
            </a>
            <h2 class="h2 strike-big"><a href="kowry/index.html">Kowry</a></h2>
            <p class="body">A crypto currency management platform unlike any other.
            </p>
         </div>

         <div class="case-tile oxy-tile an-mark-2 an-mark-props">
            <a href="sinque/index.html">
               <img src="resources/images/sin-tile@1x.jpg"
               srcset="resources/images/sin-tile@2x.jpg 1038w,
               resources/images/sin-tile@1x.jpg 519w"
               sizes="(min-width: 519px) 519px, 100vw"
               alt="project image"/>
            </a>
            <h2 class="h2 strike-big"><a href="sinque/index.html">Sinque</a></h2>
            <p class="body">A new way to think about weight change.
            </p>
         </div>

         <div class="case-tile an-mark-3 an-mark-props">
            <a href="de-voorhoede/index.html">
               <img src="resources/images/dv-tile@1x.jpg"
                     srcset="resources/images/dv-tile@2x.jpg 1038w,
                            resources/images/dv-tile@1x.jpg 519w"
                     sizes="(min-width: 519px) 519px, 100vw"
                     alt="project image"/>
            </a>
            <h2 class="h2 strike-big"><a href="de-voorhoede/index.html">De Voorhoede</a></h2>
            <p class="body">From blueprint to experience &#8212; positioning the De Voorhoede as a creative technical partner.
            </p>
         </div>

         <div class="case-tile an-mark-4 an-mark-props">
            <a href="elkmont-exchange/index.html">
               <img src="resources/images/ee-tile@1x.jpg"
                     srcset="resources/images/ee-tile@2x.jpg 1038w,
                            resources/images/ee-tile@1x.jpg 519w"
                     sizes="(min-width: 519px) 519px, 100vw"
                     alt="project image"/>
            </a>
            <h2 class="h2 strike-big"><a href="elkmont-exchange/index.html">Elkmont Exchange</a></h2>
            <p class="body">Craft beer and food thats proud of its Tennessee roots.
            </p>
         </div>

         <div class="case-tile an-mark-4 an-mark-props">
            <a href="experiments/index.html">
               <img src="resources/images/ex-tile@1x.jpg"
                     srcset="resources/images/ex-tile@2x.jpg 1038w,
                            resources/images/ex-tile@1x.jpg 519w"
                     sizes="(min-width: 519px) 519px, 100vw"
                     alt="project image"/>
            </a>
            <h2 class="h2 strike-big"><a href="experiments/index.html">Experiments</a></h2>
            <p class="body">Relics of my personal journey through motion and code.
            </p>
         </div>

      </div>
   </section>


{% include footer.html %}
{% include page-end.html %}


<!-- js hero animation -->
<script src="../resources/js/lottie.js"></script>
<script src="../resources/js/script.js"></script>

</body>
</html>
