/* Footer */

/* region small */

   /* structure */
footer {
   background-color: var(--color-black);
   color: var(--color-white);
   padding-bottom: 30px;
}

footer hr {
   border: 1px solid white;
   width: 100%;
   opacity: 50%;
   margin-bottom: 40px;
}

footer #flip-wrapper {
   flex-direction: column;
}

#main-section {
   flex-direction: column;
}

#content-contact {
   margin-bottom: 52px;
}

#content-cases .container-flex {
   flex-direction: row;
}

#content-cases .container-flex p:nth-child(2n + 0) {
   padding-left: 47px;
}

#content-cases {
   margin-bottom: 60px;
}

#secondary-section {
   flex-direction: row;
   justify-content: space-between;
}

#secondary-section {
   /* margin-bottom: 36px; */
   margin: 0 -3px 0 -3px;
}

#secondary-section .wrapper:last-child img {
   margin-left: 16px;
}
   /* end of: structure */



   /* type */
footer h3 {
   margin-bottom: 84px;
   max-width: 280px;
}

footer p.label {
   margin-bottom: 14px;
}

footer .body-small {
   line-height: 28px;
}
   /* end of: type */





   /* region medium */
@media (min-width: 720px) {

   /* structure */
   footer #flip-wrapper {
      flex-direction: row;
      justify-content: space-between;
   }

   #secondary-section {
      flex-direction: column;
      align-items: flex-end; 
   }

   /* type */
   footer h3 {
      margin-bottom: 84px;
      max-width: 400px;
   }
}


/* region large */
@media (min-width: 1100px) {

}
/* end of: Footer */
