/* Menu-overlay */

   /* region small */

#overlay {
    position: fixed;
    /* display: relative; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    transition: opacity 0.5s ease;
}

#overlay h1 {
   margin-bottom: 2.5rem;
}

#overlay .menu-items {
   padding-left: 72px;
   padding-bottom: 8%;
}

#menu-button-off, #menu-button {
   cursor: pointer;
}

/* off position */
#menu-button-off {
   /* position: fixed; */
   top: 0px;
   right: 20px;
}

#menu-button-off {
   display: none;
}




   /* region medium */
@media (min-width: 720px) {
   #overlay .menu-items {
      padding-left: 152px;
      padding-bottom: 8%;
   }
}

/* region large */
@media (min-width: 1100px) {

   /* logo size */
   #overlay img:first-child {
      height: 1.75rem;
   }

   #overlay .menu-items {
      padding-left: 284px;
      padding-bottom: 8%;
   }
}


   /* js classes */
.overlayOn {
   -webkit-transform: translateY(0%) !important;
       -ms-transform: translateY(0%) !important;
           transform: translateY(0%) !important;
   opacity: 1 !important;
}

.overlayOff {
   -webkit-transform: translateY(0%) !important;
       -ms-transform: translateY(0%) !important;
           transform: translateY(0%) !important;
   opacity: 0 !important;
}

.overlayShift {
   -webkit-transform: translateY(100%) !important;
       -ms-transform: translateY(100%) !important;
           transform: translateY(100%) !important;
}
   /* end of js classes */





/* end of: Menu-overlay */
