<!-- Menu-overlay -->

   <div id="overlay">

      <a href="../index.html">
         <img src="../resources/images/logo-jn.svg" alt="logo">
      </a>
      <div class="menu-items">
         <h2 class="h1 centered"><a href="../index.html">Work</a></h2>
         <h2 class="h1 centered"><a href="../experiments/index.html">Experiments</a></h2>
         <h2 class="h1 centered"><a href="../contact/index.html">Contact</a></h2>
      </div>

   </div>

   <!-- overlay-button -->
   <div onclick="on()" id="menu-button">
      <img src="../resources/images/icon-menu.svg" alt="menu">
   </div>
   <div onclick="off()" id="menu-button-off">
      <img src="../resources/images/icon-menu-cross.svg" alt="menu">
   </div>



<!-- Sticky Header -->

   <div class="container-flex-end" id="container-case-stick">
      <div id="sticky-contact">
         <a href="../contact/index.html">
            <img src="../resources/images/indicator-sticky-contact.svg" alt="contact">
         </a>
      </div>
   </div>



<!-- App-header -->

   <nav>
      <div class="container-flex">
         <div class="logo" id="logo-nav">
            <a href="../index.html"> <!-- link back to home -->
            <img src="../resources/images/logo-jn.svg" alt="logo">
            </a>
         </div>
         <ul class="container-flex nav">
            <li class="link-collapsible strike" id="cases-link"><a href="../index.html#work">Work</a></li>
            <li class="link-collapsible strike" id="experiments-link"><a href="../experiments/index.html">Experiments</a></li>
            <li class="link-collapsible strike" id="contact-link"><a href="../contact/index.html">Contact</a></li>
         </ul>
         <div id="icon-contact">
            <div id="stick-icon-cont">
               <span class="strike"><a href="../contact/index.html">Contact</a></span>
               <a href="../contact/index.html">
                  <img src="../resources/images/icon-contact.svg" alt="contact">
               </a>
            </div>
         </div>
      </div>
   </nav>
