<!-- Footer -->

<footer>
   <div class="container container-flex">


      <!-- intro -->
      <hr>
      <h3 class="h3 white">Made it this far huh?<br> Well you may as well say hello.</h3>



      <!-- contact -->
      <div id="content-contact">

         <p class="label">contact</p>
         <p class="body-small">
            josh.noon1@gmail.com<br>
            phone: 0658 902 162<br>
            linked in: linkedin.com/in/joshua-noon/
         </p>

      </div>



      <!-- cases -->
      <div id="content-cases">

         <p class="label">Cases</p>
         <div class="container-flex">
            <p class="body-small">
               Deutschlandfunk<br>
               De Voorhoede<br>
               TypeCraft
            </p>
            <p class="body-small">
               Redbull<br>
               Highlights<br>
               Kowry
            </p>
         </div>

      </div>



      <!-- icons and logo -->
      <div id="content-icons">
         <div class="container-flex">
             <div class="wrapper">
                 <img src="\" alt="img">
             </div>
             <div class="wrapper">
                <img src="" alt="img">
                <img src="" alt="img">
                <img src="" alt="img">
             </div>
         </div>

      </div>



   </div>
</footer>
