<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99051508-2"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-99051508-2');
   </script>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <meta property="og:title" content="JNoon Design">
   <meta property="og:description" content="Portfolio of visual designer Joshua Noon">
   <meta property="og:image" content="../resources/images/og-image.png">
   <meta property="og:image:width" content="1200">
   <meta property="og:image:height" content="630">
   <meta property="og:url" content="https://jnoondesign.com/">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:image" content="https://jnoondesign.com/resources/images/og-image-twitter.jpg">
   <meta property="og:site_name" content="JNoon Design">
   <meta name="twitter:image:alt" content="telling stories worth listening to">

   <title>JNoon Design</title>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
   <link rel="stylesheet" type="text/css" href="../resources/css/typography.css">
   <link rel="stylesheet" type="text/css" href="../resources/css/variables.css">
   <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
   <link rel="icon" href="../resources/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="../resources/images/favicon.ico" type="image/x-icon">
</head>
