<!-- Menu-overlay-->
<!-- -----------------------regions: small-------------------- -->

<div id="overlay">

   <a href="../index.html">
      <img src="../resources/images/logo-jn.svg" alt="logo">
   </a>
   <div class="menu-items">
      <h2 class="h1 centered"><a href="../index.html">Highlights</a></h2>
      <h2 class="h1 centered"><a href="../experiments/index.html">About</a></h2>
      <h2 class="h1 centered"><a href="mailto:josh.noon1@gmail.com?subject=I%20love%20your%20shit!">Contact</a></h2>
   </div>

</div>

<!-- overlay-button -->
<div onclick="on()" id="menu-button">
   <img src="../resources/images/icon-menu.svg" alt="menu">
</div>
<div onclick="off()" id="menu-button-off">
   <img src="../resources/images/icon-menu-cross.svg" alt="menu">
</div>

<!-- -----------------------end of regions: small-------------------- -->


<!-- -----------------------regions: medium & large-------------------- -->
<!-- Sticky Header -->

   <div class="container-flex-end" id="container-case-stick">
      <div id="sticky-contact">
         <a href="../about/index.html">
            <!--desktop sticky icon — note JS also needs to be disabled-->
            <!-- <img src="../resources/images/indicator-sticky-contact.svg" alt="contact"> -->
         </a>
      </div>
   </div>



<!-- App-header -->

   <nav>
      <div class="container-flex">
         <div class="logo" id="logo-nav">
            <a href="../index.html"> <!-- link back to home -->
            <img src="../resources/images/logo-jn.svg" alt="logo">
            </a>
         </div>
         <ul class="container-flex nav">
            <li class="link-collapsible strike" id="experiments-link"><a href="../experiments/index.html">Highlights</a></li>
            <li class="link-collapsible strike" id="about-link"><a href="../about/index.html">About</a></li>
            <li class="link-collapsible strike" id="cases-link"><a href="mailto:josh.noon1@gmail.com?subject=I%20love%20your%20shit!">Contact</a></li>
         </ul>
         <!-- -----------------------end of regions: medium & large-------------------- -->

         <!-- -----------------------regions: small-------------------- -->
         <div id="icon-contact">
            <div id="stick-icon-cont">
               <span class="strike"><a href="../about/index.html">Contact</a></span>
               <a href="../about/index.html">
                  <!--hidden mobile sticky icon-->
                  <!-- <img src="../resources/images/icon-contact.svg" alt="contact"> -->   <!--hidden mobile sticky icon-->
               </a>
            </div>
         </div>
         <!-- -----------------------end of regions: small-------------------- -->
      </div>
   </nav>
