
/*/////////////////// Duplicated code  ////////////////*/

/* Copy and paste any hero section cahnges into here and use find replace to make them hero-section-case */


/* Hero-section */

   /* region small */
#hero-section-case {
  height: calc(100vh - 36px);
  flex-direction: column;
  justify-content: space-between;
}

     /* this is replicating 'container' */
#hero-section-case .positioning-line-cont {
   max-width: 1440px;
   position: relative;
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
   left: 50%;
   padding: 0 30px;
}

#hero-section-case .positioning-line {
  width: 274px;
  padding-top: var(--space-80);
}

#hero-section-case .stretcher {
  flex-grow: 1;
}

#hero-anim-small, #hero-anim-medium, #hero-anim-large {
  width: 100%;
}


   /* region medium */
@media (min-width: 720px) {
  #hero-section-case {
    height: calc(100vh - 54px);
  }

     /* this is replicating 'container' */
  #hero-section-case .positioning-line-cont {
     padding: 0 72px;
  }


  #hero-section-case .positioning-line {
    width: 424px;
    padding-top: var(--space-100);
    padding-left: var(--gap);
  }
}


   /* region large */
@media (min-width: 1100px) {
  #hero-section-case {
    height: calc(100vh - 66px);
  }

     /* this is replicating 'container' */
   #hero-section-case .positioning-line-cont {
    padding: 0 172px;
  }

  #hero-section-case .positioning-line {
    padding-top: 86px; /* random in order to match perfectly*/
    padding-left: 0;
  }
}
/* end of: Hero-section */


/*/////////////////// end of duplicative code ////////////////*/




/* Hero-section-case */

   /* region small */
#hero-section-case #hero-image {
      padding-right: 40px;
      height: 65vh;
      margin: 0 auto;
}
#hero-section-case #hero-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   object-position: left;
}

   /* region medium */
@media (min-width: 720px) {

   #hero-section-case #hero-image {
         padding-top: 60px;
         padding-right: 100px;
         height: initial;
   }

   #hero-section-case {
      justify-content: initial;
      height: initial;
   }



   /* region large */
@media (min-width: 1100px) {

   #hero-section-case #hero-image {
         padding-right: 170px;
   }

   #hero-section-case #hero-image img {
      max-width: 1270px;
   }
}


   /* region oversize */
@media (min-width: 1440px) {

   #hero-section-case #hero-image {
         padding-right: 200px;
   }

   #hero-section-case #hero-image img {
      max-width: 1720px;
   }

}
/* end of: hero-section-case */






















/* // */
