/* Intro-section */

   /* region small */
#intro-section {
  padding-top: 24px;
  padding-bottom: var(--space-80);
}

.scroll-indicator {
   justify-content: center;
   margin-bottom: 28px;
}

#intro-section .content-left {
  display: none;
}

   /* region medium */
@media (min-width: 720px) {
  #intro-section {
    padding-top: 32px;
    padding-bottom: var(--space-80);
  }

  .scroll-indicator {
     justify-content: center;
     margin-bottom: var(--space-60);
  }

  #intro-section .content-left {
    display: initial;
    width: 25%;
    padding-top: 24px;
  }
  #intro-section .content-right {
    width: 75%;
}


   /* region large */
@media (min-width: 1100px) {
  #intro-section {
    padding-bottom: var(--space-100);
  }

  #intro-section .content-left {
    display: initial;
    width: 40%;
    padding: 24px 0 0 0;
    /* margin–left: 100px; */
  }
  #intro-section .content-right {
    width: 60%;
  }
}
