/* core css */
@import 'reset.css';
@import 'typography.css';
@import 'variables.css';
@import 'transitions.css';


/* navigation components */
@import 'components/navigation/nav.css';
@import 'components/navigation/overlay-menu.css';
@import 'components/navigation/footer.css';
@import 'components/navigation/end-of-page-cta.css';

/* sections */
@import 'components/sections/hero-section.css';
@import 'components/sections/hero-section-case.css';
@import 'components/sections/intro-section.css';
@import 'components/sections/intro-section-case.css';
@import 'components/sections/showcase-section.css';
@import 'components/sections/case-section.css';
@import 'components/sections/about-section.css';
@import 'components/sections/highlights-section.css';

/* case specific overrides */
@import 'components/sections/overrides-deu.css';

/* box sizing  */
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
