/* Typography */

/* global modifiers */

strong,
.bold {
  font-family: "untitled medium";
}

b {
  font-family: "untitled medium";
}

.text-link {
   border-bottom: 1px solid var(--color-white)
}

.centered {
   text-align: center;
}

.white {
   color: var(--color-white);
}

.black {
   color: var(--color-black);
}


@font-face {
  font-family: "serif bold";

  src: url("../fonts/serif-headline-web-bold.woff") format("woff"),
    url("../fonts/serif-headline-web-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "untitled medium";

  src: url("../fonts/untitled-sans-test-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "untitled regular";

  src: url("../fonts/untitled-sans-test-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* default styling */
html {
font-family: 'untitled regular', sans-serif;
color: var(--color-black);
}


/* large headings */
.hero, .sidekick, .h1, .h2, .h3 {
   font-family: "serif bold", "Georgia", "serif";
   font-weight: bold;
}

/* Text Styles */

/* #region small */

.h1 {
   font-size: 2rem; /* 32px */
   line-height: 1.25;
 }

.h2 {
   font-size: 1.8125rem; /* 28px */
   line-height: 1.25;
  }

.h3 {
  font-size: 1.8125rem; /* 28px */
  line-height: 1.25;
 }

.h4 {
 font-size: 1.3125rem; /* 21px */
 line-height: 1.25;
}

.body-big-tight {
   font-size: 1.5rem; /* 24px */
   line-height: 1.67;
}

.body-big-loose {
   font-size: 1.5rem; /* 24px */
   line-height: 2.167;
}

.body-header {
   font-size: 1.125rem; /* 18px */
   line-height: 2;
   font-family: "untitled medium";
}

.body-tight {
   font-size: 1rem; /* 16px */
   line-height: 1.5;
}

.body-loose {
   font-size: 1.125rem; /* 18px */
   line-height: 2;
}

.body-small {
   font-size: 0.9375rem; /* 15px */
   line-height: 1.5;
}

.label {
   letter-spacing: 2.4px;
   text-transform: uppercase;
   line-height: 1.5;
   font-size: 0.75rem;
}

.eyebrow {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 1.5;
}

.button {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5;
}

.nav {
   font-size: 0.938rem; /* 15px */
   line-height: 1.2;
}

a {
   text-decoration: none;
   color: var(--color-white);
}

/* region medium */
@media (min-width: 720px) {
  .h1 {
     font-size: 2.75rem; /* 44px */
     line-height: 1.25;
   }

   .h2 {
      font-size: 1.8125rem; /* 28px */
      line-height: 1.25;
     }

   .h3 {
      font-size: 1.8125rem; /* 28px */
      line-height: 1.25;
     }

  .h4 {
   font-size: 1.5rem; /* 24px */
   line-height: 1.25;
  }

  .body-big-tight {
     font-size: 1.5rem; /* 24px */
     line-height: 1.67;
  }

  .body-big-loose {
     font-size: 1.5rem; /* 24px */
     line-height: 2.83;
  }

  .body-header {
     font-size: 1.125rem; /* 18px */
     line-height: 2;
  }

  .body-tight {
     font-size: 1.125rem; /* 18px */
     line-height: 1.5;
  }

  .body-loose {
     font-size: 1.125rem; /* 18px */
     line-height: 2;
  }

  .body-small {
     font-size: 1rem; /* 16px */
     line-height: 1.5;
  }

  .label {
     letter-spacing: 2.4px;
     text-transform: uppercase;
     font-size: 0.75rem;
     line-height: 1.5;
  }

  .eyebrow {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1.5;
  }
}

/* region large */
@media (min-width: 1100px) {
  .h1 {
     font-size: 2.75rem; /* 44px */
     line-height: 1.25;
   }

  .h2 {
   font-size: 2.25rem; /* 36px */
   line-height: 1.25;
  }

  .h3 {
    font-size: 1.8125rem; /* 29px */
    line-height: 1.25;
   }

  .h4 {
   font-size: 1.5rem; /* 24px */
   line-height: 1.25;
  }

  .body-big-tight {
     font-size: 1.5rem; /* 24px */
     line-height: 1.67;
  }

  .body-big-loose {
     font-size: 1.5rem; /* 24px */
     line-height: 2.83;
  }

  .body-header {
     font-size: 1.125rem; /* 18px */
     line-height: 2;
  }

  .body-tight {
     font-size: 1.125rem; /* 18px */
     line-height: 1.5;
  }

  .body-loose {
     font-size: 1.125rem; /* 18px */
     line-height: 2;
  }

  .body-small {
     font-size: 1rem; /* 16px */
     line-height: 1.5;
  }

  .label {
     letter-spacing: 2.4px;
     text-transform: uppercase;
     font-size: 0.75rem;
     line-height: 1.5;
  }

  .eyebrow {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1.5;
  }
}
