/* Global Variables */

:root {
   /* Colours */
  --color-black: #222222;
  --color-light-grey: #cccccc;
  --color-v-light-grey: #eeeeee;
  --color-dark-grey: #979797;
  --color-blue-sky: #cbe4ff;
  --color-white: #FFF;

  /* Spacing */
  --space-index-l: 19rem; /*304px*/
  --space-index-m: 16.5rem; /*264px*/
  --space-huge: 12.5rem; /*200px*/
  --space-larger: 7.5rem; /*120px*/
  --space-large: 6.25rem; /*100px*/
  --space-big: 5rem; /*80px*/
  --space-medium: 3.75rem; /*60px*/
  --space-small: 2rem; /*32px*/
  --space-petit: 1.5rem; /*24px*/
  --space-std: 1rem; /*16px*/
  --space-tiny: 0.75rem; /*12px*/
  --space-micro: 0.5rem; /*8px*/

  /* Shadows */
  --shadow-soft: 0px 11px 50px 0px rgba(0, 0, 0, 0.1);

  /* Column indents */
  --indent-1-col: 3.5rem; /* 56px */
  --indent-2-col: 7rem; /* 112px */
  --indent-3-col: 10.5rem; /* 168px */
}

/* end of: Global Variables */




/* Global Styles */

.shadow {
   box-shadow: var(--shadow-soft);
}

.light-border {
   border: 1px solid var(--color-v-light-grey);
}

   /* Keyboard navigation */
a:focus {
   outline: none;
   text-decoration: underline;
}

a:hover {
   outline: none;
   text-decoration: none;
}

   /* ensures video fills available space */
.video-fill {
   width: 100% !important;
}

.scale-up {
   -webkit-transform-origin: top;
       -ms-transform-origin: top;
           transform-origin: top;
   -webkit-transform: scale(1.1) !important;
       -ms-transform: scale(1.1) !important;
           transform: scale(1.1) !important;
   overflow: visible !important;
}

   /* Full bleed images */
   /* region small */
.cover img {
object-fit: cover;
width: 100%;
height: 300px;
}

   /* region medium */
@media (min-width: 720px) {
   .cover img {
   height: 500px;
   }
}

   /* region large */
@media (min-width: 1100px) {
   .cover img {
   height: 700px;
   }
}

/* for when the simplest solution is just to add a spacing element */
/* region medium */
@media (min-width: 720px) {
   .spacer {
      height: var(--space-small);
   }
}

/* region large */
@media (min-width: 1100px) {
   .spacer {
      height: var(--space-medium);
   }
}

/* pre-sets the height to prevent content jumping when animation plays */
/* .space-save {
   min-height: 176px;
}

@media (min-width: 375px) {
   .space-save {
      min-height: 176px;
   }
}

@media (min-width: 412px) {
   .space-save {
      min-height: 190px;
   }
}

@media (min-width: 720px) {
   .space-save {
      min-height: 253px;
   }
}

@media (min-width: 1100px) {
   .space-save {
      min-height: 290px;
   }
}

@media (min-width: 1440px) {
   .space-save {
      min-height: 417px;
   }
} */
/* end of: Global Styles */




/* Global Structure Elements */


   /* Flex wrapper */
   /* regions-ALL */
.container-flex {
  display: flex;
}

.container-flex-end {
  display: flex;
  justify-content: flex-end;
}
   /* end of: Flex wrapper */

   /* Margins wrapper */
   /* region small */
.container {
   margin: 0 auto;
   padding: 0 1.25rem;
   overflow: hidden;
   max-width: 1440px;
   position: relative;
}

/* testing styles */
.test {
  background-color: lightblue;
}

.test-lines {
  border: 2px solid red;
}

   /* region medium */
@media (min-width: 720px) {
   .container {
      padding: 0 2.5rem;
   }
}

   /* region large */
@media (min-width: 1100px) {
    .container {
      padding: 0 3.75rem;
   }
}
   /* end of: Margins wrapper */

/* end of: Global Structure Elements */




/* Global Interactive Elements */

   /* region small */
.button-primary {
   display: block;
   padding: 15px 25px;
   background-color: var(--color-black);
   color: var(--color-white);
   width: 100%;
   text-align: center;
   transition: all 0.3s ease;
}

.button-primary:hover {
   -webkit-transform: scale(1.03);
       -ms-transform: scale(1.03);
           transform: scale(1.03);
}

   /* region medium/large */
@media (min-width: 720px) {
   .button-primary {
      width: 280px;
      margin: 0 auto;
   }
}

   /* social icons hover */
.social-icons img {
   transition: all 0.3s ease;
}

.social-icons img:hover {
   -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
           transform: scale(1.1);
}

   /* next project arrows */
.arrow-right, .arrow-left {
   transition: all 0.3s ease;
}

.arrow-right:hover {
   opacity: 0.3;
}

.arrow-left:hover {
   opacity: 0.3;
}

   /* logo hover */
nav .logo {
   transition: all 0.5s ease;
}

nav .logo:hover {
   opacity: 0.3;
}

.logo-region-m-l img {
   transition: all 0.5s ease;
}

.logo-region-m-l img:hover {
   opacity: 0.3;
}

   /* Current link (nav) */
nav .current {
   font-weight: 600;
}

   /* Footer category hover */
footer h4:hover {
   border-width: 2px;
}

   /* Strike (nav) */
.strike {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 120%;
	height: 8px;
	margin-top: 0.4rem;
   margin-left: -10%;
   background-color: var(--color-blue-sky);
   mix-blend-mode: multiply;
   -webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
   -webkit-transform: scaleX(0);
       -ms-transform: scaleX(0);
           transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike:hover:before {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

   /* Strike-small */
.strike-small {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-small:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 100%;
	height: 8px;
	margin-top: 0.7rem;
   background-color: var(--color-blue-sky);
   mix-blend-mode: multiply;
   -webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
   -webkit-transform: scaleX(0);
       -ms-transform: scaleX(0);
           transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-small:hover:before {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
}

/* Strike-big */
   /* region small */
.strike-big {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-big:before {
	content: '';
	position: absolute;
   pointer-events: none;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 1.9rem;
   background-color: var(--color-black);
   mix-blend-mode: multiply;
   -webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
   -webkit-transform: scaleX(0);
       -ms-transform: scaleX(0);
           transform: scaleX(0);
	transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strike-big:hover:before {
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
   -webkit-transform-origin: left;
       -ms-transform-origin: left;
           transform-origin: left;
}

   /* region medium */
@media (min-width: 720px) {
   .strike-big:before {
   	height: 2px;
   	margin-top: 2.2rem;
   }
}

/* region large */
@media (min-width: 1100px) {
   .strike-big:before {
      height: 2px;
      margin-top: 3rem;
   }
}



   /* strike CV */
.hero-contact .strike:before {
   margin-top: 0.8rem;
}


   /* offset animations */

   /* js classes */
.offsetAn1 {
   -webkit-transform: translateY(35px);
       -ms-transform: translateY(35px);
           transform: translateY(35px);
   opacity: 0;
}

.offsetAn2 {
   -webkit-transform: translateY(35px);
       -ms-transform: translateY(35px);
           transform: translateY(35px);
   opacity: 0;
}

.offsetAn3 {
   -webkit-transform: translateY(35px);
       -ms-transform: translateY(35px);
           transform: translateY(35px);
   opacity: 0;
}

.offsetAn4 {
   -webkit-transform: translateY(35px);
       -ms-transform: translateY(35px);
           transform: translateY(35px);
   opacity: 0;
}
   /* end of: js classes */


.offset-an-props {
   transition: all 0.75s cubic-bezier(.32,.17,.2,.99);
}
/* end of: Global Interactive Elements */





























/* page-holder */
