/* Global Variables */

:root {
   /* Colours */
  --color-black: #222222;
  --color-white: #FFFFFF;
  --color-light-grey: #cccccc;
  --color-v-light-grey: #eeeeee;
  --color-dark-grey: #979797;
  --color-blue-sky: #cbe4ff;

   /* Spacing */
  --space-32: 2rem;
  --space-52: 3.25rem;
  --space-60: 3.75rem;
  --space-80: 5rem;
  --space-100: 6.25rem;
  --space-120: 7.5rem;
  --space-200:  12.5rem;

  /* Column */
  --col:  2rem;
  --gap:  1.5rem;

  /* Shadows */
  --shadow-soft: 0px 11px 50px 0px rgba(0, 0, 0, 0.1);

  /* Column indents (deprecated)*/
  --indent-1-col-end: 2rem; /* 32px */
  --indent-2-col-start: 3.5rem; /* 56px */
  --indent-3-col-start: 7rem; /* 112px */
}

/* end of: Global Variables */



/* Global Structure Elements */

.dark-mode {
   color: var(--color-white);
   background-color: var(--color-black);
}

section.dark-mode, footer.dark-mode, #overlay.dark-mode a {
   color: var(--color-white);
}

.no-rule footer hr {
   border: 1px solid var(--color-black);
}


/* box sizing  */
*, *:before, *:after {
  box-sizing: inherit;
}

   /* Flex wrapper */
   /* regions-ALL */
.container-flex {
  display: flex;
}

.container-flex-end {
  display: flex;
  justify-content: flex-end;
}
   /* end of: Flex wrapper */

   /* Container wrapper */
   /* region small */
.container {
   margin: 0 auto;
   padding: 0 1.875rem; /* 30px */
   overflow: hidden;
   max-width: 1440px;
   position: relative;
}


   /* region medium */
@media (min-width: 720px) {
   .container {
      padding: 0 6rem; /* 96px */
   }
}

   /* region large */
@media (min-width: 1100px) {
    .container {
      padding: 0 10.75rem;  /* 172px */
   }
}
   /* end of: Container wrapper */

/* end of: Global Structure Elements */




/* Global Styles */

.shadow {
   box-shadow: var(--shadow-soft);
}

.light-border {
   border: 1px solid var(--color-v-light-grey);
}

   /* Keyboard navigation */
a:focus {
   outline: none;
   text-decoration: underline;
}

a:hover {
   outline: none;
   text-decoration: none;
}

   /* ensures video fills available space */
.video-fill {
   width: 100% !important;
}


/* testing styles */
.test {
  background-color: lightblue;
}

.test-lines {
  border: 2px solid red;
}

/* end of: Global Styles */
































/* page-holder */
