---
---

{% include head.html %}

<body>

{% include app-header.html %}


<!-- Hero-section-contact -->




<!-- Skills -->
   <section class="skills container an-mark-props an-mark-3">
      <div class="contact-divide">
         <hr>
      </div>

      <div class="container-flex skills-wrapper">

         <div class="skills-left">
            <h3 class="h3">Skills</h3>
         </div>

         <div class="skills-right">
            <div class="skills-intro">
               <p class="body-lead semi-bold">My career has had me explore many different tools, heres whats currently under my belt.
               </p>
            </div>

            <div class="skills-area">
               <div class="skills-content">
                  <h4 class="body-lead semi-bold">Design</h4>
                  <p class="body">I'm fluent in the UI toolkit and the extensive plugins that support these programs. While I consider Sketch home I have completed a project in Figma. Creative suite is my first love, and I can use these programs telepathically. As a keen photographer I have also dabbled in Lightroom.
                  </p>
               </div>
               <div class="skills-detail">
                  <h4 class="body semi-bold">Sketch</h4>
                  <h4 class="body semi-bold">After Effects</h4>
                  <h4 class="body semi-bold">Illustrator</h4>
                  <h4 class="body semi-bold">Photoshop</h4>
                  <h4 class="body semi-bold">Indesign</h4>
                  <h4 class="body semi-bold">Zeplin</h4>
                  <h4 class="body semi-bold">Lightroom</h4>
               </div>
            </div>

            <div class="skills-area">
               <div class="skills-content">
                  <h4 class="body-lead semi-bold">Prototyping</h4>
                  <p class="body">I have used Framer extensively and am comfortable in a code based prototyping environment. After effects is my default choice for when more control is required. As part of building my skills in AE I completed <a href="https://uxinmotion.net/v" target="_blank" class="text-link">Issara Willenskomer&#39;s</a> UI fundamentals and Micro interactions courses. I'm a fan of Lottie but also aware of its limitations.
                  </p>
               </div>
               <div class="skills-detail">
                  <h4 class="body semi-bold">Framer</h4>
                  <h4 class="body semi-bold">After Effects/Lottie</h4>
                  <h4 class="body semi-bold">Principle</h4>
                  <h4 class="body semi-bold">Invision/Craft</h4>
               </div>
            </div>

            <div class="skills-area">
               <div class="skills-content">
                  <h4 class="body-lead semi-bold">Code</h4>
                  <p class="body">I'm fluent in HTML &#38; CSS and speak a few phrases of javascript. My code ability is encapsulated in this website &#8212; it is this website. I'm fascinated by development and see collaborating with these magicians as one of the best parts of the job.
                  </p>
               </div>
               <div class="skills-detail">
                  <h4 class="body"><b>HTML</b> &#8212; I built this website!</h4>
                  <h4 class="body"><b>CSS</b> &#8212; flexbox, learning grid</h4>
                  <h4 class="body"><b>Javascript</b> &#8212; simple DOM manipulations</h4>
                  <h4 class="body"><b>CoffeeScript</b> &#8212; comfortable</h4>
                  <h4 class="body"><b>CL/Git</b> &#8212; basic workflow</h4>
               </div>
            </div>

         </div>

      </div>
   </section>


{% include footer.html %}
{% include page-end.html %}


</body>
</html>
