/* Footer */

/* region small */

   /* structure */
footer {
   padding-bottom: 30px;
}

footer hr {
   border: 1px solid white;
   width: 100%;
   opacity: 50%;
   margin-bottom: 40px;
}

footer .strike:before {
  margin-top: 21px;
}

/* turn off logo for menu */
footer .logo {
   display: none;
}

footer #flip-wrapper {
   flex-direction: column;
}

footer #main-section {
   flex-direction: column;
}

/* positioning text side-by side for region large */
footer #main-section .region-large {
   flex-direction: column;
}

footer #content-contact {
   margin-bottom: var(--space-52);
}

footer #content-cases .container-flex {
   flex-direction: row;
}

footer #content-cases .container-flex p:nth-child(1n + 2) {
   padding-left: 3%;
}

footer #content-cases {
   margin-bottom: var(--space-60);
}

footer #secondary-section {
   width: 100%;
   align-items: flex-end;
}

footer #secondary-section img {
   margin-left: 16px;
}

   /* literally nothing else would work 🤦‍♂️ */
footer #secondary-section .no-marg {
   margin-left: 0;
}

footer .credit {
   flex-grow: 1;
}

footer .credit_m_l {
   display: none;
   opacity: 30%;
}

   /* end of: structure */



   /* type */
footer a {
   color: var(--color-white);
}

footer h2 {
   margin-bottom: var(--space-32);
   max-width: 280px;
}

footer h2:first-child {
   margin-bottom: 0;
}

footer .message {
   margin-bottom: 52px;
   max-width: 340px;
}

footer p.label {
   margin-bottom: 14px;
}

footer #content-cases .body-small {
   line-height: 40px;
}

footer .body-detail {
   text-align: right;
}

footer .body-small {
   /* font-size: 14px; */
}
   /* end of: type */





   /* region medium */
@media (min-width: 720px) {

   /* structure */
   footer hr {
      margin-bottom: var(--space-60);
   }

   /* turn off logo for menu */
   footer .logo {
      display: initial;
   }

   footer {
      padding-bottom: 32px;
   }

   footer #flip-wrapper {
      flex-direction: row;
      justify-content: space-between;
   }

   footer #bottom-section {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
   }

   footer #secondary-section {
      flex-direction: row;
      margin-bottom: 8px;
   }

   footer #content-cases {
      margin-bottom: 0;
   }

   footer #content-cases .container-flex p:nth-child(1n + 2) {
      padding-left: 8%;
   }


   /* placing credits and icons on one line */
   footer .credit {
      display: none;
   }

   footer .cred-box {
      margin-top: 32px;
      justify-content: flex-end;
   }

   footer .credit_m_l {
      display: initial;
      /* background-color: purple; */
   }



   /* type */
   footer h2 {
      margin-bottom: var(--space-32);
      max-width: 400px;
   }
   footer .message {
      margin-bottom: var(--space-80);
      max-width: 60%;
   }
   footer .body-small {
      font-size: 0.9375rem; /*15px*/
   }
}


/* region large */
@media (min-width: 1100px) {

      /* structure */
   footer hr {
      margin-bottom: var(--space-80);
   }

   footer {
      padding-bottom: 32px;
   }

   footer #main-section .region-large {
      flex-direction: column;
   }

   footer #content-cases p.label {
      margin-left: 0;
   }

   footer #content-cases .container-flex:last-child {
      margin-left: 0
   }

   footer .cred-box {
      margin-top: 40px;
   }
   footer #flip-wrapper {
      padding-top: var(--space-32);
      padding-bottom: var(--space-32);
   }


   /* type */
   footer h2 {
      margin-bottom: var(--space-32);
      max-width: 500px;
   }
}


/* region oversize */
@media (min-width: 1920px) {
   footer h2 {
      margin-bottom: var(--space-32);
      max-width: 690px;
   }

   footer .message {
      /* margin-bottom: var(--space-60); */
      max-width: 515px;
   }

   footer .cred-box {
      margin-top: 32px;
      justify-content: flex-end;
   }
}












/* end of: Footer */
