---
---

{% include head.html %}

<body>

{% include nav.html %}


<!-- Hero-section -->

<section id="hero-section" class="container-flex">

     <div class="positioning-line-cont container-flex">

        <div class="positioning-line">
             <p class="body-big-tight">Deutschlandfunk</p>
        </div>
        <div class="stretcher"></div>

     </div>

<div id="hero-image">
   <picture>
      <source media="(min-width: 1100px)"
         srcset="../resources/images/deu-hero_l@2x.png 2540w,
                ../resources/images/deu-hero_l.png 1270w"/>
      <source media="(min-width: 721px)"
         srcset="../resources/images/deu-hero_m@2x.png 1606w,
                ../resources/images/deu-hero_m.png 803w"/>
      <source media="(max-width: 720px)"
         srcset="../resources/images/deu-hero_s@2x.png 668w,
               ../resources/images/deu-hero_s.png 334w"/>
      <img src="../resources/images/deu-hero_l.png" alt="hero-image"/>
   </picture>
</div>

</section>

<!-- end of: Hero-section -->


{% include footer.html %}
{% include page-end.html %}

<script src="../resources/js/hero-section-case.js"></script>


</body>
</html>
